<?xml version="1.0" encoding="utf-8"?>
<robot name="hexapod_v2">

  <material name="grey"><color rgba="0.7 0.7 0.7 1.0"/></material>
  <material name="dark"><color rgba="0.2 0.2 0.2 1.0"/></material>

  <link name="base_link">
      <inertial>
        <mass value="0.6"/>
        <inertia ixx="0.00144125" ixy="0" ixz="0"
                 iyy="0.00152500" iyz="0"
                 izz="0.00280625"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/frame-holes-down.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/frame-holes-down.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="./meshes/top-cover.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/top-cover.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="./meshes/bottom-cover-flat.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/bottom-cover-flat.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l1_hip_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l1_coxa">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00001500" ixy="0" ixz="0"
                 iyy="0.00001816" iyz="0"
                 izz="0.00000916"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/coxa-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/coxa-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l1_shoulder_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l1_femur">
      <inertial>
        <mass value="0.06"/>
        <inertia ixx="0.00002000" ixy="0" ixz="0"
                 iyy="0.00005000" iyz="0"
                 izz="0.00003400"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/femur-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/femur-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l1_knee_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l1_tibia">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00000150" ixy="0" ixz="0"
                 iyy="0.00006060" iyz="0"
                 izz="0.00006060"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/tibia-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/tibia-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l1_tip">
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
      </inertial>
      <visual>
        <geometry><sphere radius="0.008"/></geometry>
        <material name="dark"/>
      </visual>
      <collision>
        <geometry><sphere radius="0.008"/></geometry>
      </collision>
  </link>

  <joint name="l1_hip_servo_joint" type="fixed">
    <parent link="base_link"/>
    <child link="l1_hip_servo"/>
    <origin xyz="-0.062862 0.084988 -0.010000" rpy="0.000000 0.000000 2.356194"/>
  </joint>

  <joint name="l1_hip" type="revolute">
    <parent link="base_link"/>
    <child link="l1_coxa"/>
    <origin xyz="-0.062862 0.084988 -0.010000" rpy="0.000000 0.000000 2.356194"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l1_shoulder_servo_joint" type="fixed">
    <parent link="l1_coxa"/>
    <child link="l1_shoulder_servo"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="l1_shoulder" type="revolute">
    <parent link="l1_coxa"/>
    <child link="l1_femur"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l1_knee_servo_joint" type="fixed">
    <parent link="l1_femur"/>
    <child link="l1_knee_servo"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="l1_knee" type="revolute">
    <parent link="l1_femur"/>
    <child link="l1_tibia"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0944" upper="0.5236" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l1_tip_joint" type="fixed">
    <parent link="l1_tibia"/>
    <child link="l1_tip"/>
    <origin xyz="0.001334 -0.004499 -0.110421" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <link name="l2_hip_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l2_coxa">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00001500" ixy="0" ixz="0"
                 iyy="0.00001816" iyz="0"
                 izz="0.00000916"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/coxa-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/coxa-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l2_shoulder_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l2_femur">
      <inertial>
        <mass value="0.06"/>
        <inertia ixx="0.00002000" ixy="0" ixz="0"
                 iyy="0.00005000" iyz="0"
                 izz="0.00003400"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/femur-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/femur-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l2_knee_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l2_tibia">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00000150" ixy="0" ixz="0"
                 iyy="0.00006060" iyz="0"
                 izz="0.00006060"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/tibia-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/tibia-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l2_tip">
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
      </inertial>
      <visual>
        <geometry><sphere radius="0.008"/></geometry>
        <material name="dark"/>
      </visual>
      <collision>
        <geometry><sphere radius="0.008"/></geometry>
      </collision>
  </link>

  <joint name="l2_hip_servo_joint" type="fixed">
    <parent link="base_link"/>
    <child link="l2_hip_servo"/>
    <origin xyz="-0.081580 0.001980 -0.010000" rpy="0.000000 0.000000 3.141593"/>
  </joint>

  <joint name="l2_hip" type="revolute">
    <parent link="base_link"/>
    <child link="l2_coxa"/>
    <origin xyz="-0.081580 0.001980 -0.010000" rpy="0.000000 0.000000 3.141593"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l2_shoulder_servo_joint" type="fixed">
    <parent link="l2_coxa"/>
    <child link="l2_shoulder_servo"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="l2_shoulder" type="revolute">
    <parent link="l2_coxa"/>
    <child link="l2_femur"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l2_knee_servo_joint" type="fixed">
    <parent link="l2_femur"/>
    <child link="l2_knee_servo"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="l2_knee" type="revolute">
    <parent link="l2_femur"/>
    <child link="l2_tibia"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0944" upper="0.5236" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l2_tip_joint" type="fixed">
    <parent link="l2_tibia"/>
    <child link="l2_tip"/>
    <origin xyz="0.001334 -0.004499 -0.110421" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <link name="l3_hip_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l3_coxa">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00001500" ixy="0" ixz="0"
                 iyy="0.00001816" iyz="0"
                 izz="0.00000916"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/coxa-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/coxa-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l3_shoulder_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l3_femur">
      <inertial>
        <mass value="0.06"/>
        <inertia ixx="0.00002000" ixy="0" ixz="0"
                 iyy="0.00005000" iyz="0"
                 izz="0.00003400"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/femur-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/femur-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l3_knee_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l3_tibia">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00000150" ixy="0" ixz="0"
                 iyy="0.00006060" iyz="0"
                 izz="0.00006060"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/tibia-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/tibia-left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="l3_tip">
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
      </inertial>
      <visual>
        <geometry><sphere radius="0.008"/></geometry>
        <material name="dark"/>
      </visual>
      <collision>
        <geometry><sphere radius="0.008"/></geometry>
      </collision>
  </link>

  <joint name="l3_hip_servo_joint" type="fixed">
    <parent link="base_link"/>
    <child link="l3_hip_servo"/>
    <origin xyz="-0.062851 -0.081010 -0.010000" rpy="0.000000 0.000000 -2.356176"/>
  </joint>

  <joint name="l3_hip" type="revolute">
    <parent link="base_link"/>
    <child link="l3_coxa"/>
    <origin xyz="-0.062851 -0.081010 -0.010000" rpy="0.000000 0.000000 -2.356176"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l3_shoulder_servo_joint" type="fixed">
    <parent link="l3_coxa"/>
    <child link="l3_shoulder_servo"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="l3_shoulder" type="revolute">
    <parent link="l3_coxa"/>
    <child link="l3_femur"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l3_knee_servo_joint" type="fixed">
    <parent link="l3_femur"/>
    <child link="l3_knee_servo"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="l3_knee" type="revolute">
    <parent link="l3_femur"/>
    <child link="l3_tibia"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0944" upper="0.5236" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="l3_tip_joint" type="fixed">
    <parent link="l3_tibia"/>
    <child link="l3_tip"/>
    <origin xyz="0.001334 -0.004499 -0.110421" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <link name="r1_hip_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r1_coxa">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00001500" ixy="0" ixz="0"
                 iyy="0.00001816" iyz="0"
                 izz="0.00000916"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/coxa-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/coxa-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r1_shoulder_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r1_femur">
      <inertial>
        <mass value="0.06"/>
        <inertia ixx="0.00002000" ixy="0" ixz="0"
                 iyy="0.00005000" iyz="0"
                 izz="0.00003400"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/femur-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/femur-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r1_knee_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r1_tibia">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00000150" ixy="0" ixz="0"
                 iyy="0.00006060" iyz="0"
                 izz="0.00006060"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/tibia-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/tibia-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r1_tip">
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
      </inertial>
      <visual>
        <geometry><sphere radius="0.008"/></geometry>
        <material name="dark"/>
      </visual>
      <collision>
        <geometry><sphere radius="0.008"/></geometry>
      </collision>
  </link>

  <joint name="r1_hip_servo_joint" type="fixed">
    <parent link="base_link"/>
    <child link="r1_hip_servo"/>
    <origin xyz="0.062874 0.084976 -0.010000" rpy="0.000000 0.000000 0.785398"/>
  </joint>

  <joint name="r1_hip" type="revolute">
    <parent link="base_link"/>
    <child link="r1_coxa"/>
    <origin xyz="0.062874 0.084976 -0.010000" rpy="0.000000 0.000000 0.785398"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r1_shoulder_servo_joint" type="fixed">
    <parent link="r1_coxa"/>
    <child link="r1_shoulder_servo"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="r1_shoulder" type="revolute">
    <parent link="r1_coxa"/>
    <child link="r1_femur"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r1_knee_servo_joint" type="fixed">
    <parent link="r1_femur"/>
    <child link="r1_knee_servo"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="r1_knee" type="revolute">
    <parent link="r1_femur"/>
    <child link="r1_tibia"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0944" upper="0.5236" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r1_tip_joint" type="fixed">
    <parent link="r1_tibia"/>
    <child link="r1_tip"/>
    <origin xyz="0.001334 0.004499 -0.110421" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <link name="r2_hip_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r2_coxa">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00001500" ixy="0" ixz="0"
                 iyy="0.00001816" iyz="0"
                 izz="0.00000916"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/coxa-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/coxa-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r2_shoulder_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r2_femur">
      <inertial>
        <mass value="0.06"/>
        <inertia ixx="0.00002000" ixy="0" ixz="0"
                 iyy="0.00005000" iyz="0"
                 izz="0.00003400"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/femur-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/femur-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r2_knee_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r2_tibia">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00000150" ixy="0" ixz="0"
                 iyy="0.00006060" iyz="0"
                 izz="0.00006060"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/tibia-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/tibia-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r2_tip">
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
      </inertial>
      <visual>
        <geometry><sphere radius="0.008"/></geometry>
        <material name="dark"/>
      </visual>
      <collision>
        <geometry><sphere radius="0.008"/></geometry>
      </collision>
  </link>

  <joint name="r2_hip_servo_joint" type="fixed">
    <parent link="base_link"/>
    <child link="r2_hip_servo"/>
    <origin xyz="0.081580 0.001962 -0.010000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="r2_hip" type="revolute">
    <parent link="base_link"/>
    <child link="r2_coxa"/>
    <origin xyz="0.081580 0.001962 -0.010000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r2_shoulder_servo_joint" type="fixed">
    <parent link="r2_coxa"/>
    <child link="r2_shoulder_servo"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="r2_shoulder" type="revolute">
    <parent link="r2_coxa"/>
    <child link="r2_femur"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r2_knee_servo_joint" type="fixed">
    <parent link="r2_femur"/>
    <child link="r2_knee_servo"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="r2_knee" type="revolute">
    <parent link="r2_femur"/>
    <child link="r2_tibia"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0944" upper="0.5236" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r2_tip_joint" type="fixed">
    <parent link="r2_tibia"/>
    <child link="r2_tip"/>
    <origin xyz="0.001334 0.004499 -0.110421" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <link name="r3_hip_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-hip-shaft.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r3_coxa">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00001500" ixy="0" ixz="0"
                 iyy="0.00001816" iyz="0"
                 izz="0.00000916"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/coxa-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/coxa-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r3_shoulder_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r3_femur">
      <inertial>
        <mass value="0.06"/>
        <inertia ixx="0.00002000" ixy="0" ixz="0"
                 iyy="0.00005000" iyz="0"
                 izz="0.00003400"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/femur-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/femur-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r3_knee_servo">
      <inertial>
        <mass value="0.055"/>
        <inertia ixx="0.00001174" ixy="0" ixz="0"
                 iyy="0.00002337" iyz="0"
                 izz="0.00001530"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/servo-limb-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r3_tibia">
      <inertial>
        <mass value="0.04"/>
        <inertia ixx="0.00000150" ixy="0" ixz="0"
                 iyy="0.00006060" iyz="0"
                 izz="0.00006060"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="./meshes/tibia-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="./meshes/tibia-right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <link name="r3_tip">
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
      </inertial>
      <visual>
        <geometry><sphere radius="0.008"/></geometry>
        <material name="dark"/>
      </visual>
      <collision>
        <geometry><sphere radius="0.008"/></geometry>
      </collision>
  </link>

  <joint name="r3_hip_servo_joint" type="fixed">
    <parent link="base_link"/>
    <child link="r3_hip_servo"/>
    <origin xyz="0.062839 -0.081022 -0.010000" rpy="0.000000 0.000000 -0.785416"/>
  </joint>

  <joint name="r3_hip" type="revolute">
    <parent link="base_link"/>
    <child link="r3_coxa"/>
    <origin xyz="0.062839 -0.081022 -0.010000" rpy="0.000000 0.000000 -0.785416"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r3_shoulder_servo_joint" type="fixed">
    <parent link="r3_coxa"/>
    <child link="r3_shoulder_servo"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="r3_shoulder" type="revolute">
    <parent link="r3_coxa"/>
    <child link="r3_femur"/>
    <origin xyz="0.043000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.5708" upper="1.5708" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r3_knee_servo_joint" type="fixed">
    <parent link="r3_femur"/>
    <child link="r3_knee_servo"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
  </joint>

  <joint name="r3_knee" type="revolute">
    <parent link="r3_femur"/>
    <child link="r3_tibia"/>
    <origin xyz="0.080000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0944" upper="0.5236" effort="2.0" velocity="6.28"/>
    <dynamics damping="0.01" friction="0.05"/>
  </joint>

  <joint name="r3_tip_joint" type="fixed">
    <parent link="r3_tibia"/>
    <child link="r3_tip"/>
    <origin xyz="0.001334 0.004499 -0.110421" rpy="0.000000 0.000000 0.000000"/>
  </joint>

</robot>
